{% extends 'base.html' %}
<!-- <html> -->
{% load static %}
	{% block head %}Home{% endblock %}
	{% block body %}
		{% if user.is_authenticated %}

  		<!-- 	<div style="text-align:center"> Я вас категорически приветствую {{ user.username }}!</div> -->
  			<p></p>
			<p></p>
			<p></p>
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th scope="col">id</th>
				<th scope="col">Имя поставщика</th>
				<th scope="col">Адрес</th>
				<th scope="col">Телефон</th>							
				</tr>
				</thead>
			{% for postavka in postavka_otobr %}
			<tr>
				<td>{{ postavka.id }}</td>
				<td>{{ postavka.postavshik_name }}</td>
				<td>{{ postavka.adres }}</td>
				<td>{{ postavka.telephone }}</td>
			</tr>

			{% endfor %}
			
		</table>

{% endif %}
{% endblock %}